{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
    {{
        hmrcLanguageSelect({
            language: 'cy' if data['languagePreference'] === 'cy' else 'en',
            en: { href: '?languagePreference=en' },
            cy: { href: '?languagePreference=cy' }
        })
    }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

   {% if data['languagePreference'] != "cy" %}
            
                <div>
                        <p>English content to go here.</p>
                </div>  
    
            {% else %}
                
                <div>
                        <p>Welsh content to go here.</p>
                </div>
            
            {% endif %}


    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
